.player_bar {
  position: absolute;
  left: 0;
  bottom: 50px;
  z-index: 101;
  width: 100%;
  text-align: center;
}

// 进度条
.components_progress {
  display: inline-block;
  width: 100%; // 让外层容器控制它的宽度
  height: 3px;
  position: relative;
  background-color: #aaa;
  cursor: pointer;

  // 当前进度
  .progress {
    width: 0%;
    height: 3px;
    left: 0;
    top: 0;
  }
}
