// 导入音乐播放器的样式
@import "music/progress";

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/icons/iconfont.eot');
  src: url('../fonts/icons/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icons/iconfont.woff') format('woff'),
  url('../fonts/icons/iconfont.ttf') format('truetype'),
  url('../fonts/icons/iconfont.svg#iconfont') format('svg');
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/* stage -- start */
.stage {
  position: relative;
  width: 100%;
  height: 100%;
}
/* stage -- end */

/* image -- start */
.img-sec {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  //height: 680px;
  perspective: 1800px;
  background-color: #ddd;

  @at-root {
    .img-figure {
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 30px;
      background-color: #FFF;
      box-sizing: border-box;
      cursor: pointer;
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      -webkit-transition: -webkit-transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
    }

    .img-back {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      padding: 30px;
      overflow: auto;

      color: #666;
      // font-size: 22px;
      text-align: center;
      // line-height: 1.25;

      background-color: #fff;

      box-sizing: border-box;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;

      // p {
      //   margin: 0;
      // }
    }

    figcaption {
      text-align: center;

      .img-title {
        margin: 15px 0 0 0;
        color: #a7a0a2;
        font-size: 15px;
      }
    }
  }
}
/* image -- end */

/* controller -- start */
.controller-nav {
  position: absolute;
  left: 0;
  bottom: 250px;
  z-index: 101;
  width: 100%;
  text-align: center;

  @at-root {
    .controller-unit {
      display: inline-block;
      margin: 0 5px;
      width: 30px;
      height: 30px;

      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;

      transform: scale(.5);
      transition: transform .6s ease-in-out, background-color .3s;
      -webkit-transition: transform .6s ease, background-color .3s;

      &.is-center {
        background-color: #888;

        transform: scale(1);

        &::after {
          font-family: "iconfont";
          color: #fff;
          font-size: 80%;
          line-height: 30px;
          content: "\e600";

          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing: greyscale;
        }

        &.is-inverse {
          background-color: #555;
          transform: rotateY(180deg)
        }
      }
    }
  }
}
/* controller -- end */

/* source area -- start */
.source-area {
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
/* source area -- end */
